## Итоговое задание

Есть мнение: раньше снимали настоящее кино, не то что сейчас. Ваша задача — проверить это утверждение, используя файлы с рейтингами фильмов movies_stats.csv. То есть проверить, верно ли, что с ростом года выпуска фильма средний рейтинг становится ниже.

При этом мы не будем затрагивать субъективные факторы этих рейтингов, а пройдёмся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950-го по 2010-й.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска (год выпуска берём из столбца title). Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

1. для каждой строки пройдите по всем годам списка years;
2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;
3. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.
4. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

# Мое решение

1. Создать список годов years с 1950 по 2010
2. Создать функцию producation_year, которая применится к датафрейму и каждому фильму допишет год выпуска согласно алгоритму в столбец year
3. Открыть датафрейм
4. Отфильтровать датафрейм по году и посчитать средний рейтинг всех фильмов - сложить все рейтинги и разделить на их количество и записать в какую-то переменную типа средней годовой оценки
5. Отсортировать года по убыванию средней годовой оценки

In [1]:
import pandas as pd

In [ ]:
years = []
y = 1950
while y != 2011:
    years.append(y)
    y += 1
#type(years)
#print(years)

In [3]:
def production_year(df, title):
    df['year'] = df['title'].str.extract(r'\((\d{4})\)$').fillna(1900) # почему этот код  не работал без знака доллара?(((
    return df

In [4]:
df = pd.read_csv('movies_stats.csv') # ╤читаем данные
#df.head()

In [5]:
df = production_year(df,'title') # применяем фунцию к датафрейму
#df.head()
df['year'] = df['year'].astype(int) # не мог применить следующее условие фильтра и поэтому столбец переводим в число

In [ ]:
df1950_2010 = df[['rating', 'year']] # копируем из датафрейма две колонки
df1950_2010 = df1950_2010[(df1950_2010['year'] >= 1950) & (df['year'] <= 2010)] # фильтруем искомые года выпуска фильмов
df_copy = df1950_2010.copy() # я так понимаю, копии делать не обязательно, но так спокойнее
#df_copy.head()
#df_copy.groupby(['year']).agg(['mean']).sort_values(by='year', ascending=False).head() #может пригодиться, если не сработает свобдная таблица, но при этом последний столбец называется в три строки и не работает как надо
#df1950_2010.head()

In [ ]:
# группируем по годам, заодно вычисляя среднюю оценку по году и сортируя по максимальной оценке
df_copy = df_copy.groupby(['year']).agg(['mean']).sort_values(by=('rating', 'mean'), ascending=False).reset_index()
df_copy

In [ ]:
#df_copy.info()
#df_copy = df_copy.sort_values(by=('rating', 'mean'), ascending=False) # тренируемся в сортировке результата с вложенностью названия в шапке
#df_copy

Если коротко, то готовый код выглядит так:

In [83]:
import pandas as pd

years = []
y = 1950
while y != 2011:
    years.append(y)
    y += 1

def production_year(df, title):
    df['year'] = df['title'].str.extract(r'\((\d{4})\)$').fillna(1900) # почему этот код  не работал без знака доллара?(((
    return df

df = pd.read_csv('movies_stats.csv') # читаем данные
df = production_year(df,'title') # применяем фунцию к датафрейму
df['year'] = df['year'].astype(int) #не мог применить следующее условие фильтра и поэтому столбец переводим в число
df1950_2010 = df[['rating', 'year']]
df1950_2010 = df1950_2010[(df1950_2010['year'] >= 1950) & (df['year'] <= 2010)]
df_copy = df1950_2010.copy()
df_copy = df_copy.groupby(['year']).agg(['mean']).sort_values(by=('rating', 'mean'), ascending=False).reset_index()
df_copy

    year    rating
              mean
0   1957  4.014241
1   1972  4.011136
2   1952  4.000000
3   1954  3.994220
4   1951  3.983539
..   ...       ...
56  2005  3.448434
57  2003  3.444777
58  1996  3.426600
59  1997  3.415764
60  2000  3.355945

[61 rows x 2 columns]